<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


<!-- <div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Firebase Storage
        </div>
        <div class="card-body">
          <h5 class="card-title">Eliga un archivo:</h5>
          <input type="file" (change)="upload($event)" accept=".png,.jpg" />
        </div>
      </div>
    </div>
  </div> -->