<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.picture.medium">
      </ion-avatar>
      <ion-label>
        <h2>{{user.name.first}} {{user.name.last}}</h2>
        <h3>{{user.name.email}}</h3>
        <p>{{user.phone}} {{user.cell}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  
</ion-content>
