<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Opciones1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Opciones2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button shape="round" expand="block" fill="outline" (click)='presentActionSheet()'>Opciones</ion-button>
  <ion-button shape="round" expand="block" fill="outline" (click)='takePicture()'>Tomar foto</ion-button>
  <img [src]="image">

  <div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-body">        
        <input type="file" (change)="uploadFile($event)" class="custom-file-input" id="customFileLang" lang="es" accept=".jpg, .png">
        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
      </div>
    </div>
  </div>


  <ion-button shape="round" expand="block" fill="outline" (click)='downloadFile()'>Descargar archivo</ion-button>

</ion-content>