<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button shape="round"  expand="block" fill="outline" (click)='saveValue("hola")'>Guardar</ion-button>
  
  <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
  <ion-input placeholder="Password" [(ngModel)]="password"></ion-input>
  <ion-input placeholder="Phone" [(ngModel)]="phone"></ion-input>
  <ion-input placeholder="ID Code" [(ngModel)]="id_code"></ion-input>
  <ion-input placeholder="Code" [(ngModel)]="code"></ion-input>
  <ion-button shape="round"  expand="block" fill="outline" (click)='loginEmail()'>Login Email</ion-button>
  <ion-button shape="round"  expand="block" fill="outline" (click)='sendCode()'>Enviar código</ion-button>
  <ion-button shape="round"  expand="block" fill="outline" (click)='validateCode()'>Validar código</ion-button>
</ion-content>
